<h4>Welcome to Fantastic Pets</h4>

<h6>We love pets & Pets love us</h6>

<p>
  Fantastic Pets provides unique service to pet owners. If you are going away
  and you cant take your lovely pet with you, we can get you in touch with
  wonderful people who can look after your pet while you are away.
</p>
<p>
  If we could not find one, we also provide a service to look after your lovely
  pet.
</p>
<p>
  Check the list of the pet owners by their gender who already have Cat and they
  can look after your cat too
</p>

<ul>
  <li><a routerLink="/pets/cat">Cat Owners</a></li>
  <li><a routerLink="/pets/dog">Dog Owners</a></li>
  <li><a routerLink="/pets/fish">Fish Owners</a></li>
</ul>
