:host {
  h4 {
    padding-bottom: 8px;
    border-bottom: 1px solid lightblue;
    margin-bottom: 30px;
  }

  h6 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}
