<h4>Welcome to Fantastic Pets</h4>

<h6>We love pets & Pets love us</h6>

<p>
  Fantastic Pets provides unique service to pet owners. If you are going away
  and you cant take your loving pet with you, We can get you in touch with
  wonderful person who can lookafter your pet while you are away.
</p>
<p>
  If we could not find one, we also provide service to lookafter your pets.
</p>
<p>
  Check the list of the pet owners by their gender who already have Cat and they
  can look after your cat too
</p>

<ul>
  <li><a routerLink="/pets/cat">Cat Owners</a></li>
  <li><a routerLink="/pets/dog">Dog Owners</a></li>
  <li><a routerLink="/pets/fish">Fish Owners</a></li>
</ul>
